nav
	{
		float: left;
		max-width: 160px;
		padding: 1em;
		background-color: Lightgray;
	}
	
footer
	{
		width: 100%;
		position: absolute;
		bottom: 0;
	}

tbody tr:nth-child(odd)
	{
		background-color: lightgray;
	}

label
	{
		display: inline-block;
		width: 200px;
		text-align: right;
	}

input
	{
		width: 200px;
	}
header, section, footer, aside, nav, article, figure, figcaption {
	display: block;}
body {
	color: #3B0B17;
	background-color:#A9F5E1;
	background-image: url("images/background.jpg");
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
margin: 0px;}

.content {
	width:1100px;
	margin: 20px auto 20px auto;
	border: 2px solid #81DAF5;
	background-color:#CEF6F5;}
header {
	height: 160px;
	background-image: url("images/.jpg");}
h1 {
	text-indent: -9999px;
	width: 940px;
	height: 130px;
	margin: 0px;}
nav, footer {
	clear: both;
	color: #ffffff;
	background-color:#81DAF5;
	height: 30px;}
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;}
nav li {
	display: inline;
	margin-right: 40px;}
nav li a {
	color: #ffffff;}
nav li a:hover, nav li a.current {
	color: #000000;}
section.courses {
	float: left;
	width: 659px;
	border-right: 2px solid #E2A9F3;}
article {
	clear: both;
	overflow: auto;
	width: 100%;}
hgroup {
	margin-top: 40px;
	color:#610B21;}
figure {
	float: left;
	/*width: 30px;
	height: 30px;}*/

figcaption {
	font-size: 90%;
	text-align: left;}
aside {
	width: 230px;
	float: left;
	padding: 0px 0px 0px 20px;}
aside section a {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #eeeeee;}
aside section a:hover {
	color: #985d6a;
	background-color: #efefef;}
a {
	color: #de6581;
	text-decoration: none;}
p {
	color: #000000;}
h1, h2, h3 {
	font-weight: normal;
	float:center;
	color:#610B21; }
	
h2 {
	margin: 10px 0px 5px 0px;
	padding: 0px;}
h3 {
	margin: 0px 0px 10px 0px;
	color:#610B21 ;}
aside h2 {
	padding: 10px 0px 5px 0px;
	color: #de6581;}
footer {
	float:left;
	font-size: 80%;
	padding: 7px 0px 0px 20px;}
table{
border: #000000;}

