nav{
    float: left;
    max-width: 200px;
    padding: 1em;
    background-color: white;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}
tbody tr:nth-child(){
    background-color: lightgray;
}
label{
    display: inline-block;
    width: 200px;
    text-align: right;
}
input{
    width: 200px;
}